@page
@model BestellingGeplaatstModel
@{
    ViewData["Title"] = "Bestelling Geplaatst";
}

<h2>Bestelling Geplaatst</h2>
<p>Uw bestelling is succesvol geplaatst. Bedankt voor uw aankoop!</p>
<a asp-page="/Index" class="btn btn-btn btn-success">Terug naar Home</a>
